@{
    var weather = ViewBag.Weather as WeatherApiResponse;
}
@if(weather != null)
{
    <p>@weather.ResolvedAddress @weather.Days[0].Temp</p>
    <p>@weather.Days[1].GetDay(): @weather.Days[1].Temp</p>
    <p>@weather.Days[2].GetDay(): @weather.Days[2].Temp</p>
    <p>@weather.Days[3].GetDay(): @weather.Days[3].Temp</p>
}
