@model Dashboard


<script>
    document.addEventListener('DOMContentLoaded', function () {
        GridStack.init();
    });
</script>


<style>
    #buttonEdit {
        position: fixed;
        bottom: 5em;
        right: 1em;
    }
</style>
<h1 style="text-align:center;">@Model.Name</h1>
<hr></hr>
<div id="buttonEdit">
    <form action="/Dashboard/@Model.Id/Edit" method="get">
        <button type="submit" class="btn btn-primary"><i class="bi bi-gear-fill"></i></button>
    </form>
</div>

@if(Model.Widgets != null)
{
        <div class="grid-stack">
            @if (Model.Widgets != null)
            {
                foreach (var widget in Model.Widgets)
                {
                <div class="grid-stack-item"
                         gs-size-to-content="true"
                         data-gs-x="@widget.X"
                         data-gs-y="@widget.Y"
                         data-gs-width="@widget.W"
                         data-gs-height="@widget.H">
                        <div class="grid-stack-item-content">
                            @Html.Partial($"{widget.Content}")
                        </div>
                    </div>
                }
            }
        </div>
}